{% extends 'base.html' %}
{#obj : Post 객체#}

{% block content %}
<h3>[ {{ obj.category }} ] {{ obj.headline }}</h3>
<p>{{ obj.autghor }} / {{obj.pub_date }}</p>
<!-- obj 와 연동된 PostImage객체를 추출 -->
{% for f in obj.postfile_set.all %}
	{#f : Post객체와 연동된 PostFile 객체. #}
	{# file.url : 파일다운받을 수 있는 URL 수조를 저장한 변수 #}
	
	{# 글에 연동된 첨부파일을 다운받을 수 있는 링크 제공 #}
	<a download href="{{ f.file.url }}">{{ f.file.name }}</a>
{% endfor %}

{% for f in obj.postimage_set.all %}
	{# 글과 연동된 이미지로 화면에 출력 #}
	<img src="{{ f.image.url }}" width="40%">
{% endfor %}


<pre>{{ obj.content }}</pre>
{% endblock %}