{% extends 'base.html' %}
{# list: Post 객체가 저장된 리스트 #}
{% block content %}
<!-- 다음페이지, 이전페이지 링크 
ListView가 넘겨주는 추가 변수
page_obj : 페이지정보를 전달하는 변수
-->
{% if page_obj.has_previous %}
<!-- href 속성에 URL주소를 기입하지않으면 현재페이지주소로
재 요청함. ListView는 page 변수에 값을 보고 클라이언트에게
몇번째 페이지를 보여줄지 결정함
page_obj.previous_page_number : 현재페이지 기준 이전페이지 번호
	가 저장된 변수
	 -->
	<a href="?page={{page_obj.previous_page_number}}">
	이전페이지</a>
{% endif %}
{% if page_obj.has_next %}
	<a href="?page={{page_obj.next_page_number}}">
	다음페이지</a>
{% endif %}

<table width = "90%">
	<tr>
		<th>글번호</th>
		<th>카테고리</th>
		<th>제목</th>
		<th>작성자</th>
		<th>작성일</th>
	</tr>
	{% for p in list %}
		<tr>
			<th>{{ p.id }}</th>
			<th>{{ p.category }}</th>
			<th>
			<a href="{% url 'blog:detail' p.id %}">
			{{ p.headline }}
			</a>
			</th>
			<th>{{ p.author }}</th>
			<th>{{ p.pub_date }}</th>
		</tr>
	{% endfor %}
</table>
<a href="{% url 'blog:posting' p.id %}">글쓰기</a>

{% endblock %}