<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>처음만드는 웹서버페이지</title>
</head>
<body>

<h3>제목</h3>

<p> 장고 라이브러리 기반의 웹서버 페이지 </p>
<!-- HTML 주석은 클라이언트에게 노출 -->
{# '{#' :  HTML코드 내에서 파이썬주석을 달때 사용  #}
{# '{{ }}' : 변수나 함수의 반환값을 화면에 출력할때 사용#}
{# '{% %}' : HTML코드 내에 if문 for문을 사용할때 사용 #}
<p> a 변수에 저장된 값 : {{ a }}</p>
{# for문을 사용하면 endfor, if문을 사용-> endif로 문법의범위를 #}
{# 표현해야 함#}
<ul>
	{% for i in b %}
		<li> {{i}} </li>
	{% endfor %}
</ul>

<a href="/list/">즐겨찾기 리스트보기</a>
</body>
</html>







