<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>3월 장고 수업</title>
{% block css %}
{% endblock %}
{% block javascript %}
{% endblock %}
</head>
<body>
<!-- 배너 -->
<a href="{% url 'main' %}">My HomePage</a>
<!-- 로그인관련 링크 -->
{% if user.is_authenticated %}
	<p>{{user.last_name}} {{user.first_name}}님 환영합니다!
	<a href="{% url 'cl:signout' %}">로그아웃</a></p>
{% else %}
	<p>어서오세요! <a href="{% url 'cl:signin'%}">로그인</a>
	 <a href="{% url 'cl:signup'%}">회원가입</a> </p>
{% endif %}
<a href="{% url 'main' %}">북마크</a>
<a href="{% url 'vote:index' %}">설문조사</a>
<a href="{% url 'blog:index' %}">게시판</a>
<a href="/a1">관리자 사이트</a>
<hr>
<!-- 수정할 수 있는 공간 지정
block tag : 해당 html을 다른 html이 확장할 때, 수정할 수 있는
공간을 설정함. 다른 html이 블록 내에 html코드를 수정하고싶은경우,
블록이름과 동일한 블록을 생성해 HTML 코드 작성 -->
{% block content %}
{% endblock %}
<!-- 하위메뉴 -->
<hr>
<p>주소 : 서울특별시 노원구 </p>
<p>전화번호 :010-1234-5678</p>

</body>
</html>




