{% extends 'base.html' %}
{% block content %}
{# objs : Question 객체 리스트 #}
<table width=100% border=1>
	<caption>설문조사 리스트</caption>
	<tr>
		<th>설문조사 제목</th>
		<th>생성일</th>
		<th>수정</th>
		<th>삭제</th>
	</tr>
	{% for obj in objs %}
		<tr>
			<th>
			<a href="{% url 'vote:detail' obj.id %}">
			{#<a href="/vote/{{obj.id}}/">#}
				{{obj.title}}
			</a>
			</th>
			<th>{{obj.pub_date}}</th>
			<th> <a href="{% url 'vote:qupdate' obj.id %}">수정</a>  </th>
			<th> <a href="{% url 'vote:qdelete' obj.id %}">삭제</a>  </th>
		</tr>
	{% endfor %}
</table>
<a href="{% url 'vote:qregister' %}">질문 추가하기</a>
<a href="{% url 'vote:cregister' %}">답변 추가하기</a>
{% endblock %}






