{% extends 'base.html' %}
{% block content %}
{# form : SigninForm 객체 error : 에러코드 #}
<h2>로그인 페이지</h2>

{% if error%}
<p>{{error}}</p>
{% endif %}

<form action='' method='post'>
	{%csrf_token %}
	<input type='hidden' name='nexturl' value='{{nexturl}}'>
	<table>
		{{ form.as_table }}
	</table>
	<input type='submit' value='로그인'>
</form>

<a href="{% url 'vote:index' %}">메인페이지로 돌아가기</a>
<a href="{% url 'social:begin' 'google-plus' %}">구글 아이디로 로그인하기</a>
{% endblock %}







